$small: "(min-width: 500px)";

body{
	font-family: sans-serif;
}
.timeline-container{
	width: 90%;
	margin: 0 auto;
	.post-container{
		.post-header{
			height: 60px;
			h1{
				font-size: 1.8rem;
				font-weight: 200;
				margin: 20px 0 0;
				display: inline-block;
			}
			p{
				margin: 40px 0;
				font-size: 0.8rem;
				float: right;
				display: inline-block;
			}
		}
		.author{
			font-size: 0.9rem;
			margin: 0 0 20px;
			.author-tag{
				font-size: 0.4rem;
				margin: 0 5px;
			}
		}
		.post-body{
			width: 100%;
			white-space: normal;
			overflow: hidden;
			margin: 0 0 0 20px;
			background: white;
			p{
				line-height: 130%;
				margin: 0;
				.ql-size-large{
					font-size: 1.3rem;
				}
				.ql-font-serif{
					font-family: Serif;
				}
			}
			.ql-indent-1{
				margin-left: 30px;
			}
		}
		.collapse{
			margin: 10px 0;
			height: 20px;
			.expander{
				float: right;
				margin: 30px 20px;
				cursor: pointer;
				color: red;	
				#check{
					display: none;
				}
			}
		}

		.post-divider{
			width: 80%;
			height: 1px;
			margin: 50px auto;
			background: linear-gradient(to right, 
				rgba(255,255,255,1) 0%,
				rgba(79,79,79,1) 21%,
				rgba(79,79,79,1) 77%,
				rgba(255,255,255,1) 100%); 
		}
	}
	@media #{$small}{
		width: 80%;
	}
}

.post-form{
	form{
		width: 100%;
		margin: 0 auto;
	}
	width: 90%;
	height: 200px;
	margin: 20px auto;
	input{
		height: 30px;
		margin: 10px 0;
		width: 100%;
		font-size: 20px;
		@media #{$small}{
			width: 50%;
		}
		&:first-child{
			margin: 10px 0 0;
			width: 100%;
		}
	}
	.quill{
		width: 100%;
		margin: 0 auto;
		.text-area{
				min-height: 200px;
		}
	}
}