body {
  font-family: sans-serif; }

.timeline-container {
  position: relative;
  width: 90%;
  margin: 0 auto; }
  .timeline-container .post-container .post-header {
    height: 60px; }
    .timeline-container .post-container .post-header h1 {
      font-size: 1.8rem;
      font-weight: 200;
      margin: 20px 0 0;
      display: inline-block; }
    .timeline-container .post-container .post-header p {
      margin: 40px 0;
      font-size: 0.8rem;
      float: right;
      display: inline-block; }
  .timeline-container .post-container .author {
    font-size: 0.9rem;
    margin: 0 0 20px; }
    .timeline-container .post-container .author .author-tag {
      font-size: 0.4rem;
      margin: 0 5px; }
  .timeline-container .post-container .post-body {
    width: 100%;
    white-space: normal;
    overflow: hidden;
    margin: 0 0 0 20px;
    background: white; }
    .timeline-container .post-container .post-body p {
      line-height: 130%;
      margin: 0; }
      .timeline-container .post-container .post-body p .ql-size-large {
        font-size: 1.3rem; }
      .timeline-container .post-container .post-body p .ql-font-serif {
        font-family: Serif; }
    .timeline-container .post-container .post-body .ql-indent-1 {
      margin-left: 30px; }
  .timeline-container .post-container .collapse {
    position: relative;
    top: -40px;
    width: 100%;
    margin: 0 20px;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%); }
    .timeline-container .post-container .collapse .expander {
      float: right;
      margin: 44px 20px 0;
      cursor: pointer;
      color: red; }
      .timeline-container .post-container .collapse .expander #check {
        display: none; }
  .timeline-container .post-container .post-divider {
    width: 80%;
    height: 1px;
    margin: 10px auto 40px;
    background: linear-gradient(to right, white 0%, #4f4f4f 21%, #4f4f4f 77%, white 100%); }
  @media (min-width: 500px) {
    .timeline-container {
      width: 80%; } }

.page-nav {
  position: relative;
  width: 50px;
  margin: 0 auto;
  z-index: 10; }

.post-form {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100vh; }
  .post-form .text-toggle {
    position: fixed;
    right: 10%;
    bottom: 20%;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer; }
  .post-form form {
    position: fixed;
    top: 10%;
    left: 12.5%;
    width: 75%;
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background: white;
    box-shadow: 10px 10px 10px rgba(100, 100, 100, 0.5);
    margin: 0 auto;
    padding: 20px 0;
    z-index: 100; }
    .post-form form input {
      height: 30px;
      width: 90%;
      margin: 10px 5%;
      padding: 0 0 0 10px;
      font-size: 20px; }
      @media (min-width: 500px) {
        .post-form form input {
          width: 50%; } }
      .post-form form input:first-child {
        margin: 10px 5% 0;
        width: 90%; }
    .post-form form .quill {
      width: 90%;
      margin: 0 auto; }
      .post-form form .quill .text-area {
        min-height: 200px; }
    .post-form form .post-submit {
      margin: 25px 0 10px 5%; }

.slide-enter {
  transform: translateY(100%);
  opacity: 0; }
  .slide-enter.slide-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-out; }

.slide-leave {
  transform: translateY(0); }
  .slide-leave.slide-leave-active {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s ease-in; }

/*# sourceMappingURL=index.css.map */
